@font-face {
    font-family: opens;
    src: url("../../../assets/fonts/OpenSansRegular.ttf");
}

@font-face {
  font-family: opensbold;
  src: url("../../../assets/fonts/OpenSansBold.ttf");
}

@font-face {
    font-family: openscondense;
    src: url("../../../assets/fonts/OpenSansCondensedRegular.ttf");
}

@font-face {
    font-family: openscondenselight;
    src: url("../../../assets/fonts/OpenSansCondensedLight.ttf");
}

@font-face {
    font-family: opensitalic;
    src: url("../../../assets/fonts/OpenSansItalic.ttf");
}

@font-face {
    font-family: openslight;
    src: url("../../../assets/fonts/OpenSansLight.ttf");
}