@import "../params_responsive/_mediaQueries";
@import "../helpers_style/specificationContent";

#waves-style {
  max-height: 2rem;
  border: none;
  outline: 0rem;
  fill: rgb(46, 46, 46);
}

#header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  background-color: rgb(46, 46, 46);

  #header-wrapper {
    // @include content-heigth-width(100vh, 80%);
    @include wrapper_content(80%, 0);

    @include tablet {
      width: 100%;
      @include wrapper_content(100%, 0);
    }

    .header-top-inf {
      display: block;
      text-decoration: none;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 1rem;

      .github-name {
        text-align: center;
        font-family: nth($font-opens, 5);
        color: rgb(255, 255, 255);
        font-size: 1rem;
        display: grid;
        grid: 1fr / 2.5rem 1fr;
        gap: 1rem;
        transition: all 400ms ease-in-out;

        .github-icon {
          fill: white;

          svg {
            width: 2.5rem;
            height: 2.5rem;
          }
        }

        &:hover {
          color: aquamarine;
          .github-icon {
            fill: aqua;
          }
          transform: scale(1.1, 1.1);
        }
      }

      .color-mode {
        background-color: rgb(16, 112, 175);
        align-self: center;
        padding: 0.8rem 0.9rem;
        border-radius: 2rem;
        box-shadow: inset 0px 0px 10px rgb(40, 143, 211),
          2px 2px 2rem rgb(40, 143, 211);
        animation: lighly 2s linear infinite;

        @keyframes lighly {
          0% {
            box-shadow: inset 0px 0px 5px rgb(40, 143, 211),
              2px 2px 2rem rgb(40, 143, 211);
          }

          50% {
            box-shadow: inset 0px 0px 10px rgb(40, 143, 211),
              3px 3px 2.5rem rgb(47, 155, 228);
          }

          100% {
            box-shadow: inset 0px 0px 5px rgb(40, 143, 211),
              2px 2px 2rem rgb(40, 143, 211);
          }
        }

        .toggle {
          svg {
            width: 1.25rem;
            height: 1.25rem;

            path {
              fill: rgb(255, 255, 255);
            }
          }
        }
      }
    }

    .header-thumbnail {
      // display: grid;
      // grid-template-rows: 1fr;
      // grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr))
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: calc(100% - 120px);

      .box-hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include content-heigth-width(auto, 100%);

        span {
          display: block;
          width: auto;
          text-align: center;

          &.hero-title {
            font-family: nth($font-rowdies, 1);
            font-size: 6rem;
            text-shadow: 0 0 5px rgb(8, 8, 8);
            font-weight: bolder;
            color: rgb(255, 239, 16);
          }

          &.hero-medium {
            font-family: nth($font-rowdies, 1);
            font-size: 3rem;
            padding: 0.6rem 2rem;
            color: rgb(46, 46, 46);
            background-color: rgb(255, 239, 16);
          }

          &.hero-change {
            font-family: nth($font-rowdies, 2);
            color: rgb(255, 239, 16);
            font-size: 2.6rem;
          }
        }
      }

      #change-sentence {
        @include content-heigth-width(3rem, 3rem);
        background: transparent;
        border: none;

        &:active {
          animation: rotateReload 2s ease-in;
        }

        @keyframes rotateReload {
          50% {
            transform: rotate(360deg);
          }
          100% {
            transform: rotate(0deg);
          }
        }

        svg {
          path {
            fill: rgb(19, 136, 214);
            stroke-dasharray: 1560;
            stroke-dashoffset: 0;
            stroke: rgb(19, 136, 214);
            stroke-width: 10px;
          }

          &:hover {
            path {
              animation: reload 2s linear forwards;
            }
          }

          @keyframes reload {
            0% {
              stroke-dashoffset: 0;
            }
            40% {
              stroke-dashoffset: 1810;
            }
            80% {
              stroke-dashoffset: 3120;
              fill: transparent;
            }
            100% {
              stroke-dashoffset: 3120;
              fill: rgb(16, 112, 175);
            }
          }
        }
      }

      figure {
        display: flex;
        justify-content: center;
        align-items: center;

        .circle-container {
          border-radius: 10rem;
          border: 1px solid yellowgreen;
          @include content-heigth-width(20rem, 20rem);
          overflow: hidden;

          .img-avatar {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }
      }

      .header-description {
        display: flex;
        align-items: center;
        justify-content: center;

        #header-description {
          padding: 0.5rem;
          width: 95%;
          border-radius: 1rem;
          background-color: rgb(57, 34, 139);
          -webkit-box-shadow: 2px 4px 19px -8px rgba(0, 0, 0, 0.44);
          -moz-box-shadow: 2px 4px 19px -8px rgba(0, 0, 0, 0.44);
          box-shadow: 2px 4px 19px -8px rgba(0, 0, 0, 0.44);

          @include laptop {
            width: 80%;
          }

          .header-description-title {
            padding: 0.5rem;
            display: flex;
            align-items: center;

            h2 {
              color: darkkhaki;
            }

            .description-content-bottom {
              margin-left: auto;
              display: flex;
              justify-content: space-evenly;
              span {
                border-radius: 2rem;
                width: 0.8rem;
                height: 0.8rem;
                margin: 0 0.3rem;
              }
              :nth-child(3) {
                background-color: red;
              }

              :nth-child(2) {
                background-color: green;
              }

              :nth-child(1) {
                background-color: yellow;
              }
            }
          }

          .header-description-phrase {
            background-color: #383838;
            border-radius: 0.5rem;
            padding: 1rem;
          }
        }
      }
    }
  }
}
